:root {
  --rccs-card-ratio: 1.5858;
  --rccs-size: 290px;
  --rccs-name-font-size: 18px;
  --rccs-number-font-size: 18px;
  --rccs-expiry-font-size: 16px;
  --rccs-cvc-font-size: 14px;
  --rccs-light-text-color: #fff;
  --rccs-dark-text-color: #333;
  --rccs-default-background: linear-gradient(25deg, #ff7e5f, #feb47b);
  --rccs-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cards {
  box-shadow: var(--rccs-shadow);
  background: var(--rccs-default-background);
  border-radius: 8px;
}

.cards .rccs-card {
  color: var(--rccs-light-text-color);
  background: var(--rccs-default-background);
}

.cards .rccs-name {
  font-size: var(--rccs-name-font-size);
}

.cards .rccs-number {
  font-size: var(--rccs-number-font-size);
}

.cards .rccs-expiry {
  font-size: var(--rccs-expiry-font-size);
}

.cards .rccs-cvc {
  font-size: var(--rccs-cvc-font-size);
}
