$color1: #1A1B1E;
$color2: #2e3036;
$Border: 10px;
$colorShadcn1: hsl(222.2, 84%, 4.9%);
$colorShadcn2: hsl(224, 71.4%, 4.1%);
$colorShadcn3: hsl(165.7, 91.3%, 9%);

body {
    user-select: none;
    color: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background-image: url("https://i.imgur.com/iPTAdYV.png");
}

.pinContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 15px;
    width: 350px;
    max-height: 440px;
    border-radius: $Border;
    background-color: $colorShadcn1;
    transition: opacity 0.7s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.slide-in {
    opacity: 1;
}

.slide-out {
    opacity: 0;
    pointer-events: none;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error {
    color: red;
}

.fingerprint-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}

.fingerprint-icon {
    color: gray;
    transition: color 0.3s, box-shadow 0.3s;
    height: auto;
    width: auto;

    &:hover {
        color: rgb(78, 78, 82);
        box-shadow: 0 0 20px rgba(213, 213, 219, 0.8);
    }

    &:active {
        box-shadow: 0 0 40px rgba(213, 213, 219, 0.8);
    }
}
